**ECTA Recruiting Data Project**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mpl
pd.set_option('display.max_rows', None)

In [3]:
df1 = pd.read_csv("ApplicantData1.csv")

In [4]:
df2 = pd.read_csv("ApplicantData2.csv")

In [5]:
df1.columns

Index(['Application ID', 'Candidate ID', 'Application Date',
       'Recruiter User Sys ID', 'Recruiter First Name', 'Recruiter Last Name',
       'Level / Grade', 'Is Internal', 'Gender (TA maintained)', 'Job Req ID',
       'Application Country', 'Job Title', 'Application Status',
       'Position Number', 'Date Created', 'Template ID', 'Source Details',
       'Source', 'Hiring Manager User Sys ID', 'Candidate Country/Region',
       'Approved Date', 'Hired On', 'Current / Latest Level of Education',
       'Current / Latest Major', 'Current / Latest University or School',
       'If Other Major', 'If Other University or School', 'Contract type'],
      dtype='object')

In [6]:
df2.columns

Index(['Job Req ID', 'Application ID', 'Application Status', 'Created Date',
       'Candidate Country/Region', 'Application Country',
       'Current / Latest Level of Education', 'Current / Latest Major',
       'Current / Latest University or School', 'If Other Major',
       'If Other University or School', 'Source', 'Source Details'],
      dtype='object')

In [7]:
combined = pd.merge(df1, df2, how='left', on=['Application ID', 'Current / Latest University or School', 'Application Country'
                                             , 'If Other Major', 'If Other University or School', 'Current / Latest Level of Education'
                                             , 'Current / Latest Major','Candidate Country/Region', 'Current / Latest Major',
                                             'Application Status', 'Source', 'Source Details', 'Job Req ID'])

In [8]:
combined.shape

(25992, 29)

In [9]:
combined.columns

Index(['Application ID', 'Candidate ID', 'Application Date',
       'Recruiter User Sys ID', 'Recruiter First Name', 'Recruiter Last Name',
       'Level / Grade', 'Is Internal', 'Gender (TA maintained)', 'Job Req ID',
       'Application Country', 'Job Title', 'Application Status',
       'Position Number', 'Date Created', 'Template ID', 'Source Details',
       'Source', 'Hiring Manager User Sys ID', 'Candidate Country/Region',
       'Approved Date', 'Hired On', 'Current / Latest Level of Education',
       'Current / Latest Major', 'Current / Latest University or School',
       'If Other Major', 'If Other University or School', 'Contract type',
       'Created Date'],
      dtype='object')

In [10]:
combined.head(3)

,Application ID,Candidate ID,Application Date,Recruiter User Sys ID,Recruiter First Name,Recruiter Last Name,Level / Grade,Is Internal,Gender (TA maintained),Job Req ID,...,Candidate Country/Region,Approved Date,Hired On,Current / Latest Level of Education,Current / Latest Major,Current / Latest University or School,If Other Major,If Other University or School,Contract type,Created Date
0,6504753,4451438,9/21/2021,545796,Nelly,Hufschmitt,Not a graded position,No,NaN,355808,...,FR,8/3/2021 14:33,NaN,High School Diploma or Equivalent,Other Major,Other University or School,commercialisation des produits et services spo...,ILEPS Cergy,Intern,11/24/2021
1,7126456,4475029,4/6/2022,545796,Nelly,Hufschmitt,Not a graded position,No,NaN,355769,...,FR,8/3/2021 14:29,NaN,Bachelors,Accounting,Other University or School,NaN,NaN,Intern,4/6/2022
2,7213676,3831108,5/5/2022,545796,Nelly,Hufschmitt,Not a graded position,No,NaN,355650,...,FR,8/3/2021 14:12,NaN,Bachelors,Languages,Other University or School,NaN,NaN,Intern,5/5/2022

In [11]:
conditions = ['US', 'CN'] #conditionals for canada

usinterns = combined[combined['Candidate Country/Region'] == "US"]

# usmasters = usinterns[usinterns['Current / Latest Level of Education'].isin(options)]  **tweak to get canada in too if we want :D

In [12]:
usinterns.shape

(9244, 29)

In [13]:
usinterns['Current / Latest University or School'].value_counts()
#Remove .head(3) to see all

Other University or School                                                             6256
University of Oregon                                                                    369
Arizona State University (ASU)                                                          307
University of California                                                                277
University of Texas                                                                     238
University of Washington                                                                216
Portland State University                                                               189
University of Southern California                                                       174
Rutgers University                                                                      135
Northwestern University                                                                 116
North Carolina State University (NC State University)                                    99
University of Chicago                                                                    87
University of California Los Angeles (UCLA), Anderson School of Management               60
University of Pennsylvania                                                               58
Columbia University                                                                      56
Georgia Institute of Technology                                                          48
Carnegie Mellon University                                                               46
University of Miami                                                                      41
Northeastern University                                                                  33
Parsons School of Design                                                                 32
University of North Carolina                                                             29
Yale University                                                                          27
Seattle University                                                                       24
Massachusetts Institute of Technology                                                    24
Harvard University                                                                       24
University of Louisville                                                                 23
University of Cincinnati, College of Design, Architecture, Art, and Planning (DAAP)      22
Polimoda                                                                                 21
University of Tennessee                                                                  21
Rhode Island School of Design (RISD)                                                     20
Drexel University                                                                        19
University of Kansas                                                                     16
IE Business School                                                                       13
Savannah College of Art and Design (SCAD)                                                13
ArtCenter College of Design                                                              11
Utah State University                                                                    11
Marist College                                                                            9
National Chengchi University                                                              7
California State University Long Beach (CSULB)                                            7
College of Creative Studies                                                               7
University of Manchester                                                                  6
Otis College of Art and Design                                                            6
Central Saint Martins                                                                     5
Pratt Institute                                                                           4
Comillas Pontifical University (Universidad Pontificia Comillas)                          3
Amsterdam Fashion Institute (AMFI)                                                        3
ESADE                                                                                     2
Technical University of Berlin                                                            2
University WÃƒÂ¼rzburg                                                                      2
HEC Paris                                                                                 2
University of Oxford                                                                      2
IESE Business School (University of Navarra)                                              2
WHU - Otto Beisheim School of Management                                                  1
Leuphana University of LÃƒÂ¼neburg                                                          1
Shanghai University                                                                       1
National Chiao Tung University                                                            1
Nanyang Technological University (NTU)                                                    1
Miguel de Cervantes European University                                                   1
Queens University Belfast                                                                 1
University of Westminster                                                                 1
National Taiwan University                                                                1
Vietnam-German University                                                                 1
University of Bayreuth                                                                    1
Imperial College London                                                                   1
Indian Institute of Management Ahmedabda (IIMA)                                           1
De Montfort University                                                                    1
Hankuk University of Foreign Studies                                                      1
Istituto Marangoni                                                                        1
Design Academy Eindhoven                                                                  1
Manchester University                                                                     1
Yonsei University                                                                         1
Brobygrafiska                                                                             1
Name: Current / Latest University or School, dtype: int64

In [14]:
usinterns['If Other University or School'].value_counts().head(3)
#Remove .head(3) to see all

Brigham Young University     103
University of Portland        93
Michigan State University     91
Name: If Other University or School, dtype: int64

In [15]:
usinterns.head(3)

,Application ID,Candidate ID,Application Date,Recruiter User Sys ID,Recruiter First Name,Recruiter Last Name,Level / Grade,Is Internal,Gender (TA maintained),Job Req ID,...,Candidate Country/Region,Approved Date,Hired On,Current / Latest Level of Education,Current / Latest Major,Current / Latest University or School,If Other Major,If Other University or School,Contract type,Created Date
4,6971340,3136252,2/28/2022,751078,Eric,Bailey,Not a graded position,No,NaN,406591,...,US,12/16/2021 19:36,NaN,High School Diploma or Equivalent,Art/Design,Other University or School,NaN,Stockton Univerisity,Intern,4/2/2022
5,6994274,1511962,2/26/2022,732021,Angelica,Gutierrez,Not a graded position,No,NaN,411588,...,US,12/29/2021 23:51,NaN,Masters,Education,Other University or School,NaN,College of Staten Island,Intern,4/8/2022
6,6999629,3832077,3/1/2022,732021,Angelica,Gutierrez,Not a graded position,No,NaN,411588,...,US,12/29/2021 23:51,NaN,Bachelors,Psychology,Other University or School,NaN,California State University Dominguez Hills,Intern,4/9/2022

In [16]:
usinterns['Application Status'].value_counts()

#Total US Intern App Results

Rejected - automatic email notification enabled    8033
Rejected                                            776
Requisition Closed                                  232
Hire                                                 67
Withdrawn By Candidate                               47
Auto Disqualified                                    47
Hired On Other Requisition                           33
Recruiter Interview                                   5
Default                                               2
Deleted On Demand By Candidate                        1
Offer                                                 1
Name: Application Status, dtype: int64

In [17]:
options = ['Masters', 'MBA'] 
    
# selecting rows based on condition 
usmasters = usinterns[usinterns['Current / Latest Level of Education'].isin(options)]

In [18]:
usmasters.head(5)
usmasters['Application Status'].value_counts()

Rejected - automatic email notification enabled    2705
Rejected                                            424
Requisition Closed                                   66
Auto Disqualified                                    18
Hire                                                 17
Withdrawn By Candidate                               14
Hired On Other Requisition                           13
Default                                               1
Recruiter Interview                                   1
Name: Application Status, dtype: int64

In [19]:
usmasters.columns

Index(['Application ID', 'Candidate ID', 'Application Date',
       'Recruiter User Sys ID', 'Recruiter First Name', 'Recruiter Last Name',
       'Level / Grade', 'Is Internal', 'Gender (TA maintained)', 'Job Req ID',
       'Application Country', 'Job Title', 'Application Status',
       'Position Number', 'Date Created', 'Template ID', 'Source Details',
       'Source', 'Hiring Manager User Sys ID', 'Candidate Country/Region',
       'Approved Date', 'Hired On', 'Current / Latest Level of Education',
       'Current / Latest Major', 'Current / Latest University or School',
       'If Other Major', 'If Other University or School', 'Contract type',
       'Created Date'],
      dtype='object')

In [20]:
usmasters_simple = usmasters[['Recruiter First Name', 'Recruiter Last Name', 'Application Country', 
                              'Job Title','Application Status','Candidate Country/Region', 
                              'Current / Latest Level of Education','Current / Latest Major',
                              'Current / Latest University or School','If Other Major',
                              'If Other University or School']].copy()

In [21]:
usmasters_simple.shape

(3259, 11)

In [22]:
usmasters_simple['Application Status'].value_counts()

Rejected - automatic email notification enabled    2705
Rejected                                            424
Requisition Closed                                   66
Auto Disqualified                                    18
Hire                                                 17
Withdrawn By Candidate                               14
Hired On Other Requisition                           13
Default                                               1
Recruiter Interview                                   1
Name: Application Status, dtype: int64

3259 Total Masters/MBA Applications

Only 14 withdrawn by candidate.

**Overall ratio = 14/3259 = 0.00429579626**

By School is below:

In [23]:
renege_grads = usmasters_simple.loc[usmasters_simple['Application Status'] == 'Withdrawn By Candidate']

renege_grads

,Recruiter First Name,Recruiter Last Name,Application Country,Job Title,Application Status,Candidate Country/Region,Current / Latest Level of Education,Current / Latest Major,Current / Latest University or School,If Other Major,If Other University or School
5374,Angelica,Gutierrez,US,2022 US Internship - Supply Chain Product Supply,Withdrawn By Candidate,US,MBA,Business administration,University of Oregon,NaN,NaN
7332,Rafael,de Castro Camargo,DE,MBA Summer Internship - Business Development &...,Withdrawn By Candidate,US,MBA,Other Major,Other University or School,Strategic Operations Immersion (MBA Immersion),Cornell University
13777,Rafael,de Castro Camargo,DE,MBA Summer Internship - Human Resources Manage...,Withdrawn By Candidate,US,Masters,Human Resources,Rutgers University,Social-Cultural Service and Tourism,Russian-Armenia(Slavonic) University
14687,Rafael,de Castro Camargo,US,2022 US Internship MBA - eCommerce Consumer Ex...,Withdrawn By Candidate,US,MBA,Business administration,Other University or School,NaN,University of Pittsburgh
16958,Vicki,Ng,US,2022 US Internship MBA - North America Supply ...,Withdrawn By Candidate,US,MBA,Business administration,Other University or School,NaN,George Washington University
17389,Rafael,de Castro Camargo,DE,MBA Summer Internship - Digital Partner Commer...,Withdrawn By Candidate,US,MBA,Other Major,Other University or School,Strategic Operations Immersion (MBA Immersion),Cornell University
17448,Angelica,Gutierrez,US,2022 US Internship - Supply Chain Product Supply,Withdrawn By Candidate,US,Masters,Other Major,Other University or School,Business Intelligence and Analytics,Stevens Institute of Technology
17460,Angelica,Gutierrez,US,2022 US Internship - Originals Product Marketi...,Withdrawn By Candidate,US,Masters,Sports/Sports science,University of Oregon,NaN,NaN
17461,Angelica,Gutierrez,US,2022 US Internship - Originals Product Marketi...,Withdrawn By Candidate,US,Masters,Sports/Sports science,University of Oregon,NaN,NaN
19369,Meg,Anderson,US,2022 US Internship - Global Digital Partnerships,Withdrawn By Candidate,US,Masters,Other Major,University of Texas,Advertising,NaN
23144,America,Perez,CL,Intern Reebok,Withdrawn By Candidate,US,MBA,Sports/Sports science,University of Oregon,NaN,NaN
23284,Rafael,de Castro Camargo,DE,MBA Summer Internship - Digital Strategy HZO (...,Withdrawn By Candidate,US,MBA,Other Major,Other University or School,Strategic Operations Immersion (MBA Immersion),Cornell University
23328,Angelica,Gutierrez,US,2022 US Internship - Originals Culture Collab...,Withdrawn By Candidate,US,Masters,Other Major,University of Texas,Advertising,NaN
23917,Rafael,de Castro Camargo,CH,MBA Summer Internship - Global Operations Stra...,Withdrawn By Candidate,US,MBA,Business administration,Massachusetts Institute of Technology,NaN,NaN

**Of the 14, 4 were University of Oregon, 3 were Cornell, 2 were UT. All others were single isolated cases.**